<!doctype html>
<html lang="en">
<head>
    <title>RPi input</title>
</head>
<body>
<button data="/led/">Toggle LED</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

<script type="text/javascript">
  var button = $("button"),
      url = button.attr("data");

  button.on("click", function () {
    $.ajax({
      url: url,
      success: function (response) {
        console.log(response)
        if (response === "True") {
            button.css("background-color", "green")
        } else {
            button.css("background-color", "red")
        }
      }
    })
  })
</script>
</body>
</html>